<!DOCTYPE html>
<html>
    <head>
        <title>Testing the Reddit JSON Api</title>

        <link href="style.css" rel="stylesheet" type="text/css"/>
    </head>

    <div id="jsonApp">

        <input v-model="subreddit" v-on:keyup.enter="loadSubreddit(subreddit)">
        <button v-on:click="loadSubreddit(subreddit)">GO!</button>
        <span class="error">{{ errorMessage }}</span>

        <ul> 
            <li v-for="item in items"><a v-bind:href="item.url">{{ item.title }}</a></li>
        </ul>

    </div>
    
    <body>
    
        <script type="text/javascript" src="vue.js"></script>
        <script type="text/javascript" src="jquery.min.js"></script>
        <script type="text/javascript">

            var jsonApp = new Vue({

                el: "#jsonApp",

                data: {
                    subreddit: "askreddit",
                    items: [],
                    errorMessage: ""
                },
                
                mounted: function() {
                    this.loadSubreddit(this.subreddit);
                },
                methods: {
                    loadSubreddit: function(subreddit){
                        var self = this;
                        $.ajax({
                            url: "https://www.reddit.com/r/" + subreddit + ".json",
                            dataType: "json",
                            method: "GET",
                            success: function(data) {
                                self.errorMessage = "";

                                var jsonData = data.data.children;

                                self.items = [];

                                for (var i = 0; i < jsonData.length; i++)
                                {
                                    self.items.push(jsonData[i].data);
                                }
                            },
                            error: function(error) {
                                console.log(JSON.stringify(error));
                                self.errorMessage = "Please enter a valid subreddit.";
                            }
                        });

                    }
                }
            });

        </script>
    
    </body> 
</html>
